
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Mulish&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif, inter;
    display: flex;
    flex-direction: column;
}

#search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-bar {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}
#map {
    height: 400px;
    width: 100%;
}
#search-button {
    padding: 10px 20px;
    font-size: 16px;
}
#roomimg{
    height: 300px;
    width: 350px;
}
main{
    display: flex;
}

#listings-page{
    display: none;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-size: cover;
    background-position: center;
    background-color: #000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
.register-btn{
    background: #fff;
    padding: 8px 20px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 14px;
}
.register-btn>img{
    background-color: white;
}
a{
    text-decoration: none;
color: white;
}
.a3{
display: flex;
flex-direction: row;
align-items: center;
gap: 15px;
}
.container{
    padding: 0 7%;
  
}
.big-card{
    padding: 0 7% 5%;


}
.cardB{
    margin-top: 50px;
}
.cardB1{
    gap: 24px;
}
.card02{
    margin-top: 96px;
    margin-inline: auto;
}
.card03{
    display: flex;
    margin-inline: auto;
    margin-top: 80px;
}

#line2{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid grey;
}
.card31{
    width: 388px;
    height: 192px;
    margin-top: 40px;
}
#div34{
    color: var(--black, #000);

/* text-5xl/Medium */
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 116.667% */
}
#btn33{
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
.card04{
    margin-inline: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
#search{
    background-color: #ff5361;
    height: 20px;
    width: 20px;
}
.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
    color: black;
    
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;

}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    background-color: white;
}
.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
    background-color: white;
    color: #000;
}
.search-bar form label{
    font-weight: 600;
    background-color: white;
    
}


/* ---------exclusives------------- */
.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
#tab{
    color:grey;
    display: flex;
    gap: 24px;
}
#city{
    color: black;
    font-weight: 600;
}
#state{
    color: grey;
}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    color: grey;
}
.exclusives div img{
    width: 100%;
    border-radius: 10px;
}
.exclusives div{
    position: relative;
}
.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

/* ---------------Trending Places-------------- */

.f1{
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
    background: var(--gray-50, #F9FAFB);}
.support{
    align-items: start;
  
}
/* -----footer------- */
.footer{
    margin: 80px 0 10px;
   
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
}
.button-line{
    display: flex;
    flex-direction: row;

  margin-inline: auto;
    gap: 20px;
}
#btn-line{
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;

border-radius: 100px;
border: 1px solid var(--gray-200, #E5E7EB);
background: var(--white, #FFF);
box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}

.active{
    position: relative;
}
.active::after{
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars{
    display: none;
}
/* ---------for small screen devices--- */
@media only screen and (max-width: 700px){

    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }
    .active::after{
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories p{
        font-size: 22px;
    }
    .about-msg{
        font-size: 15px;
    }
}
.card01{
    margin-inline: auto;
    margin-top: 96px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 50px;
}
.cardA{
    display: flex;
    flex-direction: column;
    
}
.partA{
width: 302px;
height: 200px;
}
#p1{
    margin-left: 15px;
    margin-top: 25px;
    color: var(--white, #FFF);

/* text-4xl/Medium */
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 122.222% */
}
#p2{
    margin-left: 15px;
    margin-bottom: 50px;
    color: var(--white, #FFF);

/* text-lg/Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.partB{
    
     background: #CC2D4A;
    display: flex;
flex-direction: column;
align-items: flex-start;
width: 302px;
height: 200px;

}
.partB1{
    
    background: #BC1A6E;    display: flex;
flex-direction: column;
align-items: flex-start;
width: 302px;
height: 200px;

}
.partB2{
    
    background: #DE3151;    display: flex;
flex-direction: column;
align-items: flex-start;
width: 302px;
height: 200px;

}
.partB3{
    
    background: #D93B30;    display: flex;
flex-direction: column;
align-items: flex-start;
width: 302px;
height: 200px;

}
.f2{
    padding-inline: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gray-50, #F9FAFB);}

    .line2{
        border-top: 1px solid grey;
        margin-inline: 50px;
    }
/* ----------- listing page---- */

.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-white .nav-links li a{
    color: #000;
}
.navbar-white .register-btn{
    background: #ff5361;
    color: #fff;
}
nav.navbar-white .fa-bars{
    color: #000;
}
.navbar-white .active::after{
    background: #ff5361;
}
.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}
.left-col{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}
.right-col{
    flex-basis: 45%;
}
.search{
border-radius: 50%;
border: none;
}
/* #listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#search{
    display: flex;
    border-radius: 50%;
}
.vertical-line{
    border-right: 1px solid grey;
    height: 20px;
}
#tab{
    width: 350px;
    display: flex;
    padding: 8px 8px 8px 24px;
    align-items: center;
    gap: 16px;
    border-radius: 1000px;
border: 1px solid var(--gray-200, #E5E7EB);
background: var(--white, #FFF);

/* shadow-md */
box-shadow: 0px 4px 6px 0px rgba(31, 41, 55, 0.10), 0px 2px 4px 0px rgba(31, 41, 55, 0.06);
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img{
    flex-basis: 40%;
}
.house-info{
    flex-basis: 58%;
    color: #555;
}
.house-img img{
    height: fit-content;
    width: 50%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2{
    font-weight: 500;
}
.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link{
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a{
    text-decoration: none;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img{
    width: 15px;
    margin: 10px 20px;
}
.right-arrow{
    transform: rotate(180deg);
}
.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: #333;
    color: #fff;
}
.dot{
    width: 5px;
height: 5px;
align-items: center;
margin-bottom: 5px;
margin-right: 5px;
}
.f21{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f22{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------small screen for listing page ---------- */

@media only screen and (max-width: 700px){
    .list-container{
        margin-top: 150px;
    }
    .left-col, .right-col, .house-img, .house-info{
        flex-basis: 100%;
    }
    .left-col h1{
        font-size: 22px;
    }
    .house-info h3{
        font-size: 18px;
    }
    .house-info i{
        font-size: 16px;
    }
    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}


/* ----------house-details page------------- */
.house-details{
    padding: 0 12%;
}
.house-title{
    margin-top: 50px;
}
.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.house-title span{
    margin: 0 20px;
}
.house-title i{
    color: #ff5361;
    font-size: 14px;
}
.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}
.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gallery-img-1{
    grid-area: first;
}
.small-details h2{
    font-weight: 500;
}
.small-details h4{
    text-align: right;
    font-size: 22px;
}
.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}
.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.check-form label{
    display: block;
}
.check-form div{
    padding: 20px;
}
.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button{
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}
.guest-field{
    flex: 1;
}
.details-list{
    list-style: none;
    margin: 50px 0;
}
.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}
.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}
.home-desc{
    max-width: 700px;
    margin-bottom: 50px;
}
#listings-container{
    display: flex;
    flex-direction: column;
}
.map{
    margin: 50px 0;
}
.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.map b{
    display: block;
    margin-bottom: 16px;
}

.host{
    display: flex;
    align-items: center;
}
.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}
.host i{
    color: #ff5361;
}
.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}
/* #listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* -----media query for house details page---------- */
@media only screen and (max-width: 700px){
    .house-details{
        margin-top: 150px;
    }
    .row p{
        margin-top: 10px;
    }
    .gallery{
        grid-template-areas: 'first first' '. .' '. .';
    }
    .small-details h2{
        font-size: 20px;
        margin-top: 24px;
    }
    .small-details h4{
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form{
        padding: 10px 30px;
    }
    .check-form div{
        padding: 20px 0;
        width: 100%;
    }
    .check-form input{
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }
    .check-form button{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .host{
        display: block;
        line-height: 28px;
    }
    .contact-host{
        margin: 40px 0;
    }
}
/* #listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
